@charset "utf-8"
/*CSS Document*/

* {
    margin: 0px;
    padding: 0px;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
form,
dl,
p {
    padding: 0;
    margin: 0;
}

img {
    border: 0px;
}

#wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    min-width: 600px;
}

#wrapper a:hover img {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.5
}


/*头部*/

#header .head {
    height: 38px;
}

#header .head .contact a {
    display: block;
    width: 80px;
    height: 26px;
    cursor: pointer;
    font-size: 10px;
    text-decoration: none;
    color: #908a8a;
    float: left;
    line-height: 26px;
    text-align: center;
}

#header .head .contact a:hover {
    color: #ee8290;
}

#header .head .contact .contact_left {
    margin-left: 3%;
}

#header .head .contact .contact_right {
    margin-left: 56%;
    width: 240px;
}

#header .search {
    height: 105px;
    margin-left: 8.5%;
    width: 1024px;
}

#header .search img {
    margin-left: 13%;
}

#header .search img,
#header .search form {
    display: inline-block;
}

#header .search form {
    position: relative;
    top: 43px;
    margin-left: -20%;
}

#header .search .img2 {
    position: relative;
    top: 57px;
    margin-left: -31%;
    height: 38px;
}

#header .search .one {
    width: 176px;
    height: 32px;
    border: 1px solid #d6d4d4;
    outline: none;
    padding: 3px 6px;
}

@-moz-document url-prefix() {
    #header .search .one {
        width: 177px;
        height: 30px;
        border: 1px solid #d6d4d4;
        outline: none;
        padding: 3px 6px;
    }
}

@-moz-document url-prefix() {
    #header .search .img2 {
    position: relative;
    top: 58px;
    margin-left: -31%;
    height: 38px;
}
}

#header .search .two {
    width: 84px;
    height: 40px;
    background-color: #e6747f;
}

#header .search .two:hover {
    cursor: pointer;
    background-color: #383a47;
    color: #fff;
}

#header .nav {
    height: 50px;
    background-color: #383a47;
    padding-left: 1%;
    margin-top: 40px;
}

#header .nav .menu {
    display: none;
}

#header .nav a {
    display: block;
    width: 90px;
    color: #fff;
    float: left;
    text-decoration: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}

#header .nav a:hover {
    cursor: pointer;
    background-color: #e6747f;
}

#header .focus img {
    width: 100%;
    height: 100%;
}


/*头部*/


/*主体*/

#content {
    margin: 0 auto;
    margin-top: 35px;
    width: 568px;
}

#content .shops1 {
    width: 568px;
    margin: 0 auto;
}

#content .shops1 a {
    display: block;
    width: 182px;
    height: 160px;
    float: left;
    text-align: center;
    text-decoration: none;
}

#content .shops1 a img {
    width: 144px;
    height: 87px;
}

#content .shops1 a p {
    color: #000;
    font-size: 14px;
    margin-top: 20px;
}

#content .shops1 a p:hover {
    color: #e8747f;
}

#content .shops2 {
    margin-bottom: 60px;
}

#content .shops2 .shopnav {
    width: 568px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 30%;
}

#content .shops2 .shopnav a {
    color: #888888;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    width: 200px;
}

#content .shops2 .shopnav .first {
    color: #e8747f;
}

#content .shops2 .shopnav a:hover {
    color: #e8747f;
}

#content .shops2 .products1 {
    width: 568px;
    height: 646px;
    margin-bottom: 20px;
    margin: 0 auto;
}

#content .shops2 .products1 a {
    display: block;
    float: left;
    width: 230px;
    height: 330px;
    border: 1px solid #d6d4d4;
    margin-left: 32px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

#content .shops2 .products1 a img {
    width: 220px;
    height: 220px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#content .shops2 .products1 a p {
    color: #888888;
    margin-bottom: 10px;
}

#content .shops2 .products1 a p:hover {
    color: #e6747f;
}

#content .shops2 .products1 a span {
    color: #000;
    font-size: 20px;
}

#content .shops3 {
    width: 568px;
    margin-bottom: 50px;
    margin: 0 auto;
}

#content .shops3 a {
    margin-right: 20px;
}

@-moz-document url-prefix() {
    #content .shops3 a {
        margin-right: 28px;
    }
}

#content .shops3 a img {
    width: 260px;
    height: 130px;
}

#content .news {
    width: 568px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

#content .news h2 {
    font-size: 24px;
    color: #000;
    font-weight: normal;
    text-align: center;
}

#content .news div {
    width: 510px;
    height: 220px;
    float: left;
    margin: 30px 34px 10px 34px;
}

#content .news img {
    padding-right: 20px;
    padding-left: 10px;
}

#content .news a {
    display: block;
    float: left;
}

#content .news p {
    color: #888888;
    padding-top: 80px;
    font-size: 14px;
}

#content .news .fontcolor {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    padding-top: 40px;
}

#content .news .fontcolor:hover {
    color: #e6747f;
}

#content .manufacturers {
    width: 568px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

#content .manufacturers h2 {
    font-size: 26px;
    color: #555454;
    font-weight: normal;
    text-align: center;
}

#content .manufacturers a {
    margin-left: 0px;
}

#content .manufacturers a:hover img {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.5;
}


/*主体*/


/*底部*/

#foot {
    width: 568px;
    height: 400px;
    background-color: #222533;
    margin-bottom: 10px;
}

#foot .footer {
    width: 558px;
    margin: 0 auto;
}

#foot .footer div {
    float: left;
}

#foot .footer .line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

#foot .footer .footer_top {
    margin-top: 0px;
}

#foot .footer .footer_top .footer_l {
    width: 200px;
    color: #9ea7a2;
    font-size: 12px;
    margin-left: 40px;
}

#foot .footer .footer_top .footer_l img {
    position: relative;
    top: 80px;
    left: 260px;
}

#foot .footer .footer_top .footer_r {
    font-size: 14px;
    margin-top: 20px;
    height: 50px;
}

#foot .footer .footer_top .footer_r .follow {
    width: 85px;
    margin-left: 50px;
    font-size: 14px;
}

#foot .footer .footer_top .footer_r .follow h3 {
    color: #fff;
    margin-bottom: 15px;
}

#foot .footer .footer_top .footer_r .follow a {
    display: none;
}

#foot .footer .footer_top .footer_r .follow a:hover {
    color: #e6747f;
}

#foot .footer .footer_top .footer_r .follow2 {
    width: 95px;
    margin-left: 50px;
}

#foot .footer .footer_top .footer_r .follow2 h3 {
    color: #fff;
    margin-bottom: 15px;
}

#foot .footer .footer_top .footer_r .follow2 a {
    display: none;
}

#foot .footer .footer_top .footer_r .follow2 a:hover {
    color: #e6747f;
}

#foot .footer .footer_top .footer_r .follow3 {
    width: 105px;
    margin-left: 50px;
}

#foot .footer .footer_top .footer_r .follow3 h3 {
    color: #fff;
    margin-bottom: 15px;
}

#foot .footer .footer_top .footer_r .follow3 a {
    display: none;
}

#foot .footer .footer_top .footer_r .follow3 a:hover {
    color: #e6747f;
}

#foot .footer .copy {
    color: #9ea7a2;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 10px;
}


/*底部*/
